@font-face {
    font-family: 'Oswald', sans-serif;
    src: url(fonts\Oswald-ExtraLight.ttf);
}
:root{
    --texto-preto: black;
    --fundo-gold: gold ;
}
body{
    background-color: aqua;
    color: black;
    max-width: 1800px;

}
.tech{
    text-align: right;
    padding-right: 500px;
    font-size: 20px;
    margin: 20px;
}
li{
    list-style: none;
    display: inline;
    text-align: center;
    top: 5px;
    font-size: 20px;
    vertical-align: top;
    padding-left: 25px;
}
a{
    color: black;
    text-decoration: none;
}
li :hover{
    color: white;
}
h1 {
    font-family: 'Oswald-ExtraLight', sans-serif;
}
.imagem-jovem img{
    width: 1850px;
    height: 800px;
    background: black;
}
.imagem-jovem {
    display: inline-block;
    position: relative;
}

#title-jovem{
    position: absolute;
    top: 145px;
    right: 10px;
    font-size: 30px;
    color: gold;
    text-shadow: 0px 0px 5px black;
    padding-right: 40px;
}

h4, h5 {
    text-align: center;
}
footer{
    background:gold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 60px 0;
}

*{
    padding: 0;
    margin: 0;
}